body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #272727;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.brand {
  padding: 10px;
  position: fixed;
  top: 0px;
  left: 15px;
  z-index: 99;
  color: white;
}

.app-title {
  font-size: 36px;
}

.custom-tooltip {
  background-color: white;
  padding: 4px;
  border-radius: 5px;
}