body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #272727;
  font-size: 16px;
  overflow: hidden;
}

.font-size-64 {
  font-size: 64px;
}

.font-size-48 {
  font-size: 48px;
}

.font-size-32 {
  font-size: 32px;
}

.font-size-24 {
  font-size: 24px;
}

.font-size-20 {
  font-size: 20px;
}

.hidden {
  display: none;
}

a {
  text-decoration: underline;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.brand {
  padding: 10px;
  position: fixed;
  top: 0px;
  left: 15px;
  z-index: 1;
  color: white;
}

.audio-player {
  padding: 10px;
  position: fixed;
  z-index: 1;
  color: white;
  text-align: center;
}

.audio-description > * {
  margin: 5px 0;
}

@media (max-width: 2000px) {
  .audio-player {
    top: 10px;
    right: 15px;
  }
}

@media (max-width: 1000px) {
  .audio-player {
    top: auto;
    bottom: 10px;
    left: 15px;
  }
}

.background {
  width: 100vh;
  height: 100vh;
  position: fixed;
  z-index: -1;
  background-color: #272727;
  opacity: 0.6;
}

.about,
.search {
  width: 100%;
  height: 100%;
  position: fixed;
  color: white;
  opacity: none;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-description {
  padding-top: 20px;
}

.custom-tooltip {
  background-color: white;
  padding: 4px;
  border-radius: 5px;
}

.custom-tooltip-black {
  padding: 4px;
  border-radius: 5px;
  font-size: 16px;
}

.width-500-less {
  width: 500px;
}

@media (max-width: 800px) {
  .width-500-less {
    width: 300px;
  }
}
